:root {
    --main-bg-color-header: #000;
    --main-bg-color-footer: #363f44;
    --main-bg-copy-right: #1e1e1e;
    --main-font-color: #777;
    --main-font-hover-color: #018fe5;
    --main-link-color: #018fe5;
    --main-title-color: #2980b9;

    --main-footer-title-color: #2980b9;
}

button {
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

img {
    width: 100%;
}

a,
button,
input,
img,
.btn-chapter {
    transition: 0.2s;
}

body {
    margin: 0;
    padding: 0;
    background: #eee;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
div {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: auto;
}

/* 
.title-breaking-comic {
    margin-bottom: 15px;
} */

header {
    background-color: var(--main-bg-color-header);
    color: #fff;
}

header .img-logo img {
    width: 40px;
}



header .nav {
    /* padding: 5px 0px; */
    display: flex;
}

header .img-logo img {
    padding: 5px 0px;
}

header .hover-menu-categories {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 53px;
    width: 333px;
}

header .hover-menu-categories a {
    color: #444;
}

header .hover-menu-categories div {
    background-color: #fff;
}

header .hover-menu {
    display: flex;
}

header .hover-menu a {
    display: flex;
    align-items: center;
}


header .hover-menu-button {
    color: #fff
}

header .hover-menu a {
    padding: 10px 10px;
    padding-left: 19px;
}

header .hover-menu a:hover {
    color: #000;
    background-color: #ccc;
}

header .hover-menu:hover .hover-menu-categories {
    visibility: visible;
    opacity: 1;
}

.hover-menu-categories a {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}

header .nav>* {
    margin-right: 10px;
    padding-left: 4px;
}

header .hover-menu a>* {
    margin-right: 5px;
}


header .hover-menu-categories {
    visibility: hidden;
    opacity: 0;
}

header .search {
    display: flex;
    align-items: center;
}



.form-search {
    display: flex;
    position: relative;
    width: 360px;
}

#form-search .search-input {
    width: 100%;
    height: 20px;
    font-size: 15px;
    padding: 4px 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 0;
    border: 1px solid #fff;
    display: inline-block;
    vertical-align: middle;
}

#form-search .search-button {
    border: none;
    position: absolute;
    right: 0;
    padding: 6px 20px;
    display: block;
    background: #e5e6e9;
    color: #444;
    font-size: 16px;
}

#form-search button.search-button:hover {
    background: #ccc;
}


.w-50 {
    width: 50%;
}

.w-680 {
    width: 680px;
}

.w-320 {
    width: 320px;
}

.title-breaking-comic h1 {
    font-weight: 600;
    font-size: 9px;
    padding: 8px 0px;
    font-family: "Segoe UI", Arial, sans-serif;
    padding-left: 9px;
}

section.section-background {
    background-color: #fff;
}

.title-section {
    padding: 10px 10px;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid #ecf0f1;
}

.title-section-left h2 a {
    color: #2980b9;
}

.title-section-left:hover h2 a {
    color: #444;
}



.title-section-left {
    color: #2980b9;
    display: flex;
    align-items: center;
}

.title-section-left h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -2px;
    margin-right: 4px;

}


.title-section-left i {
    font-size: 20px;
    font-weight: 600;
    margin-left: 2px;
    color: #2980b9;
    margin-top: 4px;
}

.title-section-right {
    display: flex;
    align-items: center;
}



.title-section-right a {
    font-size: 14px;
    letter-spacing: -1px;
    color: #999;
}

.title-section-right i {
    color: #999;
    font-size: 4px;
    margin: 0 5px;
    padding-top: 7px;
}

.title-section-right a:hover {
    color: #444;
}


.content-section {
    padding: 10px 10px;
}

.mySlides {
    display: flex;
    flex-direction: row;
    display: none;
}

.mySlides .w-4-column {
    width: 33.33%;
}

.mySlides img {
    width: 100%;
    height: 270px;
    box-shadow: 1px 1px 3px #ccc;
}

figure {
    margin: 0;
    padding: 0;
    position: relative;
}

.mySlides figure {
    padding: 5px;
}

.overlay-title h3.title-comic {
    color: #fff;
    text-align: center;
    margin-top: 3px;
}

h3.title-comic {
    font-size: 15px;
    font-weight: 500;
    color: #777;
}

.overlay-title {
    position: absolute;
    bottom: 5px;
    background: #444;
    right: 5px;
    left: 5px;
    height: 52px;
    opacity: 0.8;
}

.w3-content {
    max-width: 980px;
}


.w3-content,
.w3-auto {
    margin-left: auto;
    margin-right: auto;
}

.w3-tooltip,
.w3-display-container {
    position: relative;
}

.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%);
}

.w3-black,
.w3-hover-black:hover {
    background-color: transparent;
    border: none;
}

.w3-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}


.w3-button i {
    font-size: 60px;
    color: #fff;
}

.w3-text-shadow {
    text-shadow: 1px 1px 0 #444;
}

.w3-button:hover i {
    color: #757575 !important;
}


.d-flex {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.section-padding {
    padding: 0 10px;
}

.text-red {
    color: #e74c3c !important;
}

.category-section .w-50 {
    margin-bottom: 10px;
}

.category-section a {
    font-weight: 700;
    font-size: 15px;
    padding-left: 5px;
}

.category-section .text-red a {
    color: red;
}

.container section {
    margin: 15px 0;
}

.justify-space-between {
    justify-content: space-between;
}


.font-list i {
    color: #ccc;
    margin-right: 5px;
    font-size: 14px;
}

.font-list h3 a {
    font-size: 15px;
    color: #777;
    font-weight: 500;
}


.font-list .title-section-left h3:hover a {
    color: #018fe5;
}

.font-list .title-section-right {
    color: #ccc;
    font-size: 14px;
}

.font-list .title-section-right {
    padding-right: 20px;
}

.link-section .content-section {
    border: none;
}

.w-25 {
    width: 25%;
}

.title-section-left h2 {
    display: inline-block;
}

.grid-image figure {
    padding: 5px;
}

.p-0 {
    padding: 0;
}

.image-title {
    text-align: center;
}

.image-title h3 {
    font-size: 14px;
    color: #444;
    font-weight: 500;
}

.image-title p {
    color: #999;
    font-size: 12px;
    padding: 5px 0
}

.image-title h3:hover {
    color: #018fe5;
}

.breaking>* {
    margin-right: 4px;
}

.breaking .fa.fa-home {
    margin-right: 7px;
}

.breaking a:hover {
    color: #444;
}

.breaking {
    border-bottom: 0 solid #d9d9d9;
    color: #999;
    font-size: 13px;
    padding: 8px 13px 0 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.6;
}

img.hover-opacity:hover {
    opacity: 0.7;
}

.order p {
    color: #999;
}

.order-number {
    padding: 10px;
}

.order-number p {
    font-size: 25px;
    font-weight: 200;
    color: #e74c3c;
    letter-spacing: -.5px;
}

.category-list img {
    width: 55px;
    height: 70px;
}

.category-list figure {
    padding: 5px 25px 0px 20px;
}

.category-list h3 {
    color: #444;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -1px;
}

.category-list .order-title-author .author {
    font-size: 12px !important;
    color: #999 !important;
}

.category-list .order-title-author .author i {
    font-size: 12px !important;
    color: #999 !important;
}

.title-section.category-list {
    border-bottom: 1px dashed #e5e6e9;
}

.order-title {
    color: #999 !important;
    font-size: 11px;
}

.align-item-base {
    align-items: baseline;
}

.order-number {
    padding: 0 15px 0 10px;
}

.order .order-title-name {
    font-weight: 600;
}

.order-title-author .author i {
    margin-right: 5px;
}

.content-section {
    border-bottom: 1px dashed #e5e6e9;
}

.read-more .order {
    justify-content: center;
}

.read-more button {
    font-size: 14px;
    background: #999;
    color: #fff;
    border-radius: 15px;
    padding: 6px 10px;
    border: none;
}

.read-more button:hover {
    background: #616161;
    color: #fff;
}

footer {
    background: #363f44;
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
}


.w-75 {
    width: 75%;
}

.w-33 {
    width: 33.33%;
}

.w-66 {
    width: 66.66%;
}

footer .about-us {
    padding: 20px 10px;
    line-height: 20px;
}


.widget .title h3 {
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    padding: 6px 5px;
    color: #2980b9;
    font-size: 17px;
}

.widget {
    padding-right: 23px;
    padding-left: 30px;
}

.widget ul li {
    padding-left: 10px;
    margin-bottom: 10px;
}

.container.copyright {
    text-align: center;
    width: 100%;
    background: #1e1e1e;
    padding: 10px 0;
}

.category-footer .w-33 {
    margin-bottom: 30px;
}

.section-right {
    padding-left: 20px;
}

.nav-mobile-dropdown {
    display: none;
}

#nav-mobile {
    display: none;
}

.content-section.read-more {
    border-bottom: none;
}

.widget a:hover {
    text-decoration: underline;
}

.widget .list li span p {
    display: inline-block;
}

div#reading {
    background-color: #fff;
}

div#reading {
    padding: 10px;
    padding-bottom: 80px;
}

div#reading .title {
    border: 2px dotted #ccc;
    padding: 11px 0;
    text-align: center;
    border-radius: 10px;
}

#reading .title h2 {
    margin-bottom: 10px;
    color: #e74c3c;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    display: block;
}

#reading .title h3 {
    font-weight: 700;
    font-size: 17px;
    color: #2980b9;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}

#reading .title h3 i.fa.fa-user {
    color: #999;
}

div#reading {
    margin-top: 15px;
    margin-bottom: 15px;
}


.btn-chapter {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none !important;
    color: #fff;
    background-color: #9e9e9e;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.btn-prev-chap,
.btn-next-chap {
    background: #2980b9;
}

.nav-a-chapter {
    padding: 15px 0px;
    text-align: center;
}

.btn-chapter i {
    font-weight: 600;
    font-size: 21px;
}

.btn-chapter:hover {
    color: #000;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.btn-chapter .fa.fa-gear {
    font-size: 16px;
}

#reading .content * {
    font-size: 18px;
    line-height: 1.6;
}

#reading .content p {
    margin: 1rem 0;
}

.about-reading-footer h3 {
    display: inline;
}

.about-reading-footer * {
    font-size: 15px;
    line-height: 1.6;
}

.about-reading-footer a {
    color: #2980b9;
    text-decoration: none;
}

.about-reading-footer a:hover {
    color: #444;
}

.section-list-chapter .title-section-left i {
    margin-right: 6px;
}

.section-list-chapter .title-section-left h4 {
    margin-left: 7px;
    font-size: 15px;
    display: inline;
    color: #444;
    font-weight: 400;
}


.section-about-comic figure img {
    width: 100%;
    height: 280px;
    box-shadow: 1px 1px 3px #ccc;
}

.section-list-chapter .title-section-left h4:hover {
    color: #2980b9;
}

.detail-social {
    border: 1px dashed #ccc;
    border-radius: 2px;
    padding: 4px 24px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}


.section-about-comic .info .btn-widget a {
    border-radius: 2px;
    font-size: 14px;
    background: #2980b9;
    color: #fff;
    padding: 4px 10px;
    margin: 3px;
}

.section-about-comic .info {
    text-align: center;
    padding: 0px 20px;

}

.section-about-comic .info .title {
    padding: 0px 0px 15px 0px;
}

.section-about-comic .info .title h2 {
    color: #e74c3c;
    font-size: 22px;
    letter-spacing: -1px;
}

.section-about-comic .info .title {
    padding: 15px 0
}

.section-about-comic .info .description {
    text-align: left;
}

.author-comic {
    line-height: 1.6;
}

.author-comic i {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    margin-right: 2px;

}

.author-comic h2 {
    color: #2980b9;
    font-size: 14px;
    font-weight: 400;
}

.section-about-comic .author-comic {
    padding-left: 10px;
}



ul.paging {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 500;
}

ul.paging a:hover {
    background: #999;
    color: #fff;
    border-radius: 2px;
}

ul.paging li a {
    padding: 8px 16px;
}

.paging li a.active {
    background: #3498db;
    color: #fff;
    border-radius: 2px;
}

.paging-input .pages {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.paging-input .pages .numbpage-text {
    background: #999;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 8px;
    margin-right: 10px;
    color: #fff;
    padding: 8px 8px;
}

.paging-input .pages .numbpage-input {
    width: 53px;
    font-size: 13px;
    padding: 5px 5px 5px 6px;
    display: inline;
    border: 1px solid #ccc;
}

.paging-input .pages .numbpage-button {
    width: 40px;
    font-size: 13px;
    background: #999;
    padding: 6px 12px;
    margin-left: -1px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.paging-input .pages .numbpage-button:hover {
    color: #fff;
    background-color: #4caf50;
}

.section-searching .form-search {
    border: 1px solid #ccc;
    width: 100%;
    /* height: 37px; */
}

.section-searching .form-search .search-input {
    padding: 9px 8px !important;
}

.section-searching .form-search .search-button {
    background-color: #9e9e9e !important;
    color: #fff !important;
    padding: 8px 28px !important;
    top: 3px;
    right: 3px !important;
}

.section-searching h1 {
    font-size: 15px;
}

.list-row-author {
    padding: 10px 10px 0px 10px;
}

.section-list-author .list-row-author .author {

    padding: 13px 4px;
    border-left: 6px solid #2196f3;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px #ccc;
    margin-right: 10px;
    color: #444;
}

.section-list-author .list-row-author .author h3 {
    font-size: 14px;
    text-align: left;
    font-weight: 600;
}

.section-list-author .list-row-author .author h3 i {
    color: #999;
    font-size: 2rem;
    margin-right: 5px;
    margin-left: 3px;
}

.section-list-author .list-row-author .author h3 a {
    display: flex;
}

span.hot-label {
    background-image: url(assets/images/hot.png);
    position: absolute;
    top: 0;
    right: 0;
}

figure .image {
    position: relative;
}

.hot-label {
    position: absolute;
    top: 0;
    left: 0;
}

.hot-label img {
    width: auto !important;
    height: auto;
    box-shadow: none;
}


.mySlides.desktop {
    display: flex;
}

.mySlides.mobile {
    display: none;
}

@media (max-width:576px) {

    .w-auto-mobile
    {
        width: auto !important;
    }

    .section-about-comic figure img {
        height: 190px;
    }

    .mySlides.desktop {
        display: none;
    }

    .mySlides.mobile {
        display: flex;
    }

    .category-list h3 {
        font-size: 15px;
    }

    .w-100-mobile {
        width: 100%;
    }

    .list-row-author {
        flex-direction: column;
    }

    .btn-widget {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-about-comic {
        flex-direction: column;
        position: relative;
    }

    .section-about-comic .info .title {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    .section-about-comic .custom-mobile.left {
        display: flex;
        width: 100%;
        margin-top: 80px;
    }

    .section-about-comic .custom-mobile.right {
        width: 100%;
    }

    .section-about-comic .btn-widget {
        margin: 10px 0px;
    }

    .breaking .home {
        margin-left: 10px;
    }

    .section-padding-reading {
        padding: 0 7px;
        width: auto;
    }

    .btn-chapter .span-setting {
        display: none;
    }

    .btn-chapter .span-chapter {
        display: none;
    }

    .mySlides {
        flex-wrap: wrap;
    }

    .w-50-mobile {
        width: 50% !important;
    }

    .w-100-mobile {
        width: 100% !important;
    }

    .widget {
        padding-right: 23px;
        padding-left: 0;
    }

    .container.copyright p {
        padding: 5px 10px;
    }

    .widget .title {
        padding-left: 9px;
    }

    .widget .list {
        padding-left: 5px;
    }

    .w-100-mobile {
        width: 100%;
    }

    .section-right {
        width: 100%;
        padding-left: 10px;
    }

    .title-section {
        display: block;
    }

    .title-section-right {
        justify-content: end;
    }

    .section-new-update .title-section-right .date {
        display: none;
    }

    .wrap-content {
        flex-wrap: wrap;
    }

    #nav-desktop {
        display: none;
    }

    #nav-mobile {
        display: flex;
    }


    nav#nav-mobile {
        justify-content: space-between;
    }

    .container {
        width: 100%;
    }

    nav#nav-mobile .img-logo {
        padding-left: 10px;
    }

    nav#nav-mobile .nav-button {
        padding-right: 10px;
        padding: 14px 16px;
    }

    .nav-button a i {
        font-size: 24px;
    }

    .nav-button:hover {
        color: #000;
        background-color: #ccc;
    }

    header .nav>* {
        margin-right: 0;
    }


    .nav-mobile-dropdown .search {
        padding: 10px;
    }

    .search {
        padding: 12px;
    }

    #form-search {
        width: 100%;
        border: 1px solid #ccc !important;
    }

    #form-search .search-input {
        font-size: 13px;
        height: 24px;
    }

    #form-search .search-button {
        background-color: #9e9e9e;
        color: #fff;
        padding: 8px 33px;
    }

    .nav-mobile-dropdown .category .title {
        justify-content: space-between;
        padding: 8px 14px;
        background: #000;
        color: #fff;
    }

    .nav-mobile-dropdown .category .title i {
        font-size: 22px;
    }

    .nav-mobile-dropdown .category .title p {
        font-size: 14px;
    }

    .category .grid .w-50 p {
        padding: 7px 5px 5px 14px;
        background: #fff;
        font-size: 14px;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        color: #444;
    }

    .category .grid .w-50 p:hover {
        color: #000;
        background-color: #ccc;
    }

    .title-breaking-comic h1 {
        padding-left: 25px;
    }

    .show {
        display: block !important;
    }
}